{% ckan_extends %}
      {% block header_logo %}
      <a class="logo" href="{{ h.url('home') }}">
        {% if g.site_logo %}
        <div class="image">
          <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" />
        </div>
        {% endif %}
        <div class="text">
          <h1>
            {{ g.site_title }}
          </h1>
        </div>
      </a>
      <div style="padding-top:30px">
        {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
      </div>

      {% endblock %}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
    ('search', _('Datasets')),
    ('organizations_index', _('Organizations')),
    ('group_index', _('Groups')),
  ) }}
    <li><a href="http://abtassociates.com/" target="_blank"></i>About</a></li>

{% endblock %}

