.site-footer {
  margin:0 -20px;
  padding:30px 20px;
  color:#fff;
  font-size:14px;

  a {
    color:inherit;
  }

  .attribution {
        font-size: 12px;

        a {
            display: block;
            margin-bottom: 10px;
            text-decoration: none;

            span {
                display: block;
            }
        }
        svg {
            fill: currentColor;
        }
    }

    .lang-select {
      display: none;
    }
}
