{% set intro = g.site_intro_text %}

  {% block home_image %}
  <!--
    <section class="featured media-overlay hidden-phone span3">
      {% block home_image_content %}
        <a class="media-image">
          <img src="{{ h.url_for_static('/base/images/placeholder-420x220.png') }}" alt="{% block home_image_caption %}{{ _("") }}{% endblock %}" />
        </a>
      {% endblock %}
    </section>
  -->
  {% endblock %}


    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {% trans %}This is a nice introductory paragraph about CKAN or the site
        in general. We don't have any copy to go here yet but soon we will
        {% endtrans %}
      </p>
    {% endif %}
